pdf2image==1.17.0
pdfplumber==0.11.4
pytesseract==0.3.13
python-dotenv==1.0.1

fastapi
uvicorn
google-auth
google-auth-oauthlib
google-api-python-client
PyPDF2
openai
google-generativeai
supabase
pandas
regex
requests
python-jose[cryptography]
gunicorn==23.0.0
